<!DOCTYPE html> 
<html lang="en"> 
 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="./css/style.css"> 
    <title>admin-news-delete</title> 
</head> 
 
<body> 
    <header class="header"> 
        <div class="container header-row"> 
            <a href="" class="logo">QazNews</a> 
            <ul class="header-nav"> 
                <li class="header-nav__item"> 
                    <a href="#" class="header-nav__link">Главная</a> 
                </li> 
                <li class="header-nav__item"> 
                    <a href="#" class="header-nav__link">Все новости</a> 
                </li> 
                <li class="header-nav__item"> 
                    <a href="#" class="header-nav__link">Найти</a> 
                </li> 
                <li class="header-nav__item"> 
                    <a href="#" class="header-nav__link"> 
                        <img src="./img/user.svg" alt="User"> 
                    </a> 
                </li> 
            </ul> 
        </div> 
    </header> 
    <main> 
        <section class="page-block"> 
            <div class="container"> 
                <h1 class="title mb-30">Удалить пост</h1> 
                <p class="help-text w-600 w-60">Вы подтверждаете удаление поста “Казахстан сыграл вничью с Норвегией”? После удаления данные невозможно будет восстановить</p> 
                <form action="" class="crud-form" > 
                    <button class="action delete">Да</button> 
                    <a href="#" class="action create">Отмена</a> 
                </form> 
            </div> 
        </section> 
    </main> 
    <footer class="footer"> 
        <div class="container"> 
            <a href="#" class="footer-logo">QazNews</a> 
            <p class="rules">Все права защищены, 2024</p> 
            <span class="contact">Написать в редакцию: <a href="" class="phone">+7 777 777 77 77</a></span> 
        </div> 
    </footer> 
</body> 
 
</html>