<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin-tags</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container header-row">
            <a href="#" class="logo">QazNews</a>
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Главная</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Все новости</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Найти</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        <img src="./images/user.svg" alt="User">
                    </a>
                </li>
            </ul>
        </div>
    </header>
<main>
    <section class="page-block">
    <div class="container mb-10"> 
        <div class="last-news__header">
        <h1 class="title">Теги</h1>
        <a href="#"class="action create">Добавить</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td>#
                    </td>
                    <td>Название тега
                    </td>
                    <td colspan="2">Действие
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Экономика</td>
                    <td>
                        <a href="#" class="action edit">Изменить</a>
                        <a href="#" class="action delete">Удалить</a>
                    </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Экономика</td>
                <td>
                    <a href="#" class="action edit">Изменить</a>
                    <a href="#" class="action delete">Удалить</a>
                </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Экономика</td>
            <td>
                <a href="#" class="action edit">Изменить</a>
                <a href="#" class="action delete">Удалить</a>
            </td>
    </tr>
    <tr>
        <td>4</td>
        <td>Экономика</td>
        <td>
            <a href="#" class="action edit">Изменить</a>
            <a href="#" class="action delete">Удалить</a>
        </td>
</tr>
            </tbody>
        </table>
    </div>
       
    </section>
</main>
    <footer class="footer">
<div class="container">
    <a href="#" class="footer-logo">QazNews</a>
    <p class="rules">Все права защищены. 2024.</p>
    <span class="contact">Написать в редакцию : <a class="phone">  8 705 477 88 45</a>

    </span>
</div>
    </footer>
</body>
</html>