<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin-news-create</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container header-row">
            <a href="#" class="logo">QazNews</a>
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Главная</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Все новости</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Найти</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        <img src="./images/user.svg" alt="User">
                    </a>
                </li>
            </ul>
        </div>
    </header>
<main>
    <section class="page-block">

    <div class="container"> 
        <h1 class="title mb-10">Добавить пост</h1>
    <form action="" class="crud-form">
        <button class="action create">Добавить</button>
    </form>
    </div>
    </section>
</main>
    <footer class="footer">
<div class="container">
    <a href="#" class="footer-logo">QazNews</a>
    <p class="rules">Все права защищены. 2024.</p>
    <span class="contact">Написать в редакцию : <a class="phone">  8 705 477 88 45</a>

    </span>
</div>
    </footer>
</body>
</html>