<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all-news</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container header-row">
            <a href="#" class="logo">QazNews</a>
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Главная</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Все новости</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Найти</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        <img src="./images/user.svg" alt="User">
                    </a>
                </li>
            </ul>
        </div>
    </header>
<main>
    <section class="page-block">

        <div class="container page-block__row">
            <div class="page-block__item">
                <h1 class="title">Все новости</h1>
                <div class="news-list">
                    <div class="news-card">
                        <img src="./images/test.png" alt="" class="news-card__image">
                        <div class="news-card__content">
                            <h3 class="news-card__title">Казахстан сыграл вничью с Норвегией</h3>
                            <span class="news-card__date">09.10.2024</span>
                            <a href="#" class="news-card__tag">Спорт</a>
                            <a href="#" class="news-card__link">Читать</a>
                        </div>
                    </div>
                    <div class="news-card">
                        <img src="./images/test.png" alt="" class="news-card__image">
                        <div class="news-card__content">
                            <h3 class="news-card__title">Казахстан сыграл вничью с Норвегией</h3>
                            <span class="news-card__date">09.10.2024</span>
                            <a href="#" class="news-card__tag">Спорт</a>
                            <a href="#" class="news-card__link">Читать</a>
                        </div>
                    </div>
                    <div class="news-card">
                        <img src="./images/test.png" alt="" class="news-card__image">
                        <div class="news-card__content">
                            <h3 class="news-card__title">Казахстан сыграл вничью с Норвегией</h3>
                            <span class="news-card__date">09.10.2024</span>
                            <a href="#" class="news-card__tag">Спорт</a>
                            <a href="#" class="news-card__link">Читать</a>
                        </div>
                    </div>
                    <div class="news-card">
                        <img src="./images/test.png" alt="" class="news-card__image">
                        <div class="news-card__content">
                            <h3 class="news-card__title">Казахстан сыграл вничью с Норвегией</h3>
                            <span class="news-card__date">09.10.2024</span>
                            <a href="#" class="news-card__tag">Спорт</a>
                            <a href="#" class="news-card__link">Читать</a>
                        </div>
                    </div>
                    <div class="news-card">
                        <img src="./images/test.png" alt="" class="news-card__image">
                        <div class="news-card__content">
                            <h3 class="news-card__title">Казахстан сыграл вничью с Норвегией</h3>
                            <span class="news-card__date">09.10.2024</span>
                            <a href="#" class="news-card__tag">Спорт</a>
                            <a href="#" class="news-card__link">Читать</a>
                        </div>
                    </div>
                </div>
               <div class="poginations">
                <ul class="pogination-nav">
                    <li class="pogination-nav__item">
                        <a href="#" class="pogination-nav__link active">
                            <img src="./images/pagination/left-white.svg" alt="left">
                        </a>
                    </li>
                    <li class="pogination-nav__item ">
                        <a href="#" class="pogination-nav__link active">
                           1
                        </a>
                    </li>
                    <li class="pogination-nav__item">
                        <a href="#" class="pogination-nav__link">
                           2
                        </a>
                    </li>
                    <li class="pogination-nav__item">
                        <a href="#" class="pogination-nav__link">
                           3
                        </a>
                    </li>
                    <li class="pogination-nav__item">
                        <a href="#" class="pogination-nav__link">
                           ...
                        </a>
                    </li>
                    <li class="pogination-nav__item">
                        <a href="#" class="pogination-nav__link">
                           12
                        </a>
                    </li>
                    <li class="pogination-nav__item">
                        <a href="#" class="pogination-nav__link">
                            <img src="./images/pagination/right-dark.svg" alt="right">
                        </a>
                    </li>

                </ul>
               </div>
            </div>
            <div class="page-block__item">
                <h2 class="title">Теги</h2>
                <ul class="tags-nav">
                    <li class="tags-nav__item">
                        <a href="#" class="tags-nav__link">Экономика</a>
                    </li>
                    <li class="tags-nav__item">
                        <a href="#" class="tags-nav__link">Спорт</a>
                    </li>
                    <li class="tags-nav__item">
                        <a href="#" class="tags-nav__link">Наука</a>
                    </li>
                    <li class="tags-nav__item">
                        <a href="#" class="tags-nav__link">Политика</a>
                    </li>
                    <li class="tags-nav__item">
                        <a href="#" class="tags-nav__link">Медецина </a>
                    </li>
                </ul>
            </div>
      
        </div>
    </section>
</main>
    <footer class="footer">
<div class="container">
    <a href="#" class="footer-logo">QazNews</a>
    <p class="rules">Все права защищены. 2024.</p>
    <span class="contact">Написать в редакцию : <a class="phone">  8 705 477 88 45</a>

    </span>
</div>
    </footer>
</body>
</html>