<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container header-row">
            <a href="#" class="logo">QazNews</a>
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Главная</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Все новости</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Найти</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        <img src="./images/user.svg" alt="User">
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <section class="primary-news">
            <div class="container primary-news__row">
                <div class="primary-news__content">
                    <h1 class="primary-news__title">Референдум по АЭС: озвучены итоговые результаты голосования</h1>
                        <h2 class="primary-news__date">09.10.2024</h2>
                        <a href="#" class="button is-primary">Читать</a>
                </div>
                <img src="./images/image.png" alt="Title" class="primary-news__image">
            </div>
        </section>
        <marquee class="marquee" behavior="alternate" direction="lift">
<h2 class="marquee-title">Читайте актуальные новости в QazNews! Подписывайтесь на наши соц сети!</h2>
        </marquee>
        <section class="last-news">
            <div class="container">
                <div class="last-news__header">
                    <h3 class="title">Последние новости  </h3>
                        <ul class="last-news__tags">
                            <li class="last-news-tag__item">
                                <a href="#" class="last-news-tag__link">Экономика</a>
                            </li>
                            <li class="last-news-tag__item">
                                <a href="#" class="last-news-tag__link">Культура</a>
                            </li>
                            <li class="last-news-tag__item">
                                <a href="#" class="last-news-tag__link">Наука</a>
                            </li>
                            <li class="last-news-tag__item">
                                <a href="#" class="last-news-tag__link">Спорт</a>
                            </li>
                        </ul>
                  
                </div>
                <div class="last-news__row">
                    <div class="last-news__card">
                        <img src="./images/image 1.png" alt="" class="last-news__image">
                        <div class="last-news-card__body">
                            <h3 class="last-news-card__title">Бишимбаев не получил работу ...
                            </h3>
                            <span class="last-news-card__date">08.10.2024

                            </span>
                            <a href="#" class="button is-primary d-block">Читать</a>
                        </div>
                    </div>
                    <div class="last-news__card">
                        <img src="./images/image 1.png" alt="" class="last-news__image">
                        <div class="last-news-card__body">
                            <h3 class="last-news-card__title">Бишимбаев не получил работу ...
                            </h3>
                            <span class="last-news-card__date">08.10.2024

                            </span>
                            <a href="#" class="button is-primary d-block">Читать</a>
                        </div>
                    </div>
                    <div class="last-news__card">
                        <img src="./images/image 1.png" alt="" class="last-news__image">
                        <div class="last-news-card__body">
                            <h3 class="last-news-card__title">Бишимбаев не получил работу ...</h3>
                            <span class="last-news-card__date">08.10.2024

                            </span>
                            <a href="#" class="button is-primary d-block">Читать</a>
                        </div>
                    </div>
                    <div class="last-news__card">
                        <img src="./images/image 1.png" alt="" class="last-news__image">
                        <div class="last-news-card__body">
                            <h3 class="last-news-card__title">Бишимбаев не получил работу ...
                            </h3>
                            <span class="last-news-card__date">08.10.2024

                            </span>
                            <a href="#" class="button is-primary d-block">Читать</a>
                        </div>
                    </div>
                    <div class="last-news__card">
                        <img src="./images/image 1.png" alt="" class="last-news__image">
                        <div class="last-news-card__body">
                            <h3 class="last-news-card__title">Бишимбаев не получил работу ...
                            </h3>
                            <span class="last-news-card__date">08.10.2024

                            </span>
                            <a href="#" class="button is-primary d-block">Читать</a>
                        </div>
                    </div>
                    <div class="last-news__card">
                        <img src="./images/image 1.png" alt="" class="last-news__image">
                        <div class="last-news-card__body">
                            <h3 class="last-news-card__title">Бишимбаев не получил работу ...
                            </h3>
                            <span class="last-news-card__date">08.10.2024

                            </span>
                            <a href="#" class="button is-primary d-block">Читать</a>
                        </div>
                    </div>
                </div>
                <div class="centered">
                    <a href="#" class="button is-primary">Все новости</a>
                </div>
            </div>
        </section>
        <section class="socials">
            <div class="container">
                <h4 class="centered-title">Подпишись на наши обновления</h4>
                <ul class="social-row">
                    <li class="social-row__item">
                        <a href="#" class="social-row__link"></a>
                        <img src="./images/socials/instagram.svg" alt="instagram">
                     
                    </li>
                    <li class="social-row__item">
                        <a href="#" class="social-row__link"></a>
                 
                        <img src="./images/socials/Vector.svg" alt="Vector">
                     
                    </li>
                    <li class="social-row__item">
                        <a href="#" class="social-row__link"></a>
                     
                        <img src="./images/socials/youtube.svg" alt="youtube">
                    
                    </li>
                    <li class="social-row__item">
                        <a href="#" class="social-row__link"></a>
                  
                        <img src="./images/socials/radio.svg" alt="radio">
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer class="footer">
<div class="container">
    <a href="#" class="footer-logo">QazNews</a>
    <p class="rules">Все права защищены. 2024.</p>
    <span class="contact">Написать в редакцию : <a class="phone">  8 705 477 88 45</a>

    </span>
</div>
    </footer>
</body>
</html>